html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#headCampos{
    background-color: #0063b2;
}

#notificacao{
    background-color: #0063b2;
}

#logout{
    background-color: #0063b2;
    transition: 0.2s;
}

#logout:hover{
    cursor: pointer;
    background-color: #337cdc;
}